body{
  font-family: 'Roboto', sans-serif;
}
h1{
  text-align: center;
  color: #32514b;
}
h2{
  text-align: right;
  font-style: italic;
  font-weight: lighter;
  color: #66706e;
}
h3{
  text-align: left;
  color: #447a6f;
}
h4{
  text-align: left;
  font-style: italic;
  font-weight: lighter;
  color: #5a8e84;
}
h5{
  color: #66706e;
  font-weight: lighter;
  font-size: 120%;

}
p{
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 120%;
  margin-right: 85px;
  text-align: justify;
  color:  #404c4a;
  word-wrap: normal;
  font-size: 90%;

}
figure{
  background-size: auto;
  background-color:  #e9f0ef;
  color: #32514b;
  font-size: 80%;
  text-align: left;
  margin-right: 85px;
  line-height: 90%;
}
figcaption{
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: lighter;
  font-style: italic;
  color: #66706e;
  margin-right: 85px;

}
section{
  column-count: 2;
}
ul{
  color: #404c4a;
}
footer{
  color: #404c4a;
  margin-right: 85px;
}
